


<header class="navbar navbar-fixed-top">
  <div class="container">
    <div class="col-sm-2">
      <%=image_tag('logo.png', class:'img') %>

    </div>
    <nav class="col-sm-10">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
            <li><%= link_to 'Edit Profile',edit_user_registration_path %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
            <% if current_user && current_user.admin %>
            <li><%= link_to 'Admin', rails_admin_path %></li>
            <% end %>

        <% else %>
            <li><%= link_to 'Login', new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
